


<div id="" class='bg-red-100 w-full' >
  <p class="my-5 text-center font-bold text-2xl">
    <%# <strong class="block font-medium mb-1">Name:</strong> %>
    <%= recipe.name %>
  </p>

  <div  class= 'grid grid-cols-3'> 
  <div class='col-span-2'>
  <p class="my-5">
    <strong class="block font-medium mb-1">Preparation time: <%= recipe.preparation_time %> </strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cooking time:
    <%= recipe.cooking_time %>
    </strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Steps:</strong>
    <%= recipe.description %>
  </p>

  </div>

  <%# <p class="my-5 bg-red-300  "> %>
    <%# <strong class="block font-medium mb-1">Public:</strong>
    <%= recipe.public %> 

    <%=form_with(url: toggle_public_path(), method: :post) do |form| %>
    <b>Public:</b>
    <label class="relative inline-flex items-center cursor-pointer">
        <%= form.check_box :enabled, checked: recipe.public, class: "sr-only peer",  onchange: "this.form.submit()" %>
        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
    </label>
   
    <% end %>
 
 
  <%# </p> %>

  </div>


<div class='flex justify-between'>
  
       <%# <%= link_to "Generate Shopping List", recipe, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %> 


       <button id="openModalButton" class='btn rounded-lg font-semibold py-3 px-5 bg-emerald-500 btn-primary'>
       Generate Shopping List
       </button>




  
        <%= link_to "Add Ingredient", show_list_of_foods_path(recipe) , class: "rounded-lg py-3 px-5 bg-blue-500 inline-block font-medium" %>
</div>


</div>



<div id="myModal" class="fixed inset-0 items-center justify-center z-50 hidden">
  <div class="modal-overlay absolute inset-0 bg-gray-900 opacity-50"></div>
  <div class="modal-container bg-white w-1/2 mx-auto rounded shadow-lg z-50">
    <!-- Modal content goes here -->
    <div class="modal-content p-4">
      <h2 class="text-lg font-bold mb-4">Modal Title</h2>

 <%= form_with(url: generate_shopping_list_path(), method: :post) do |form| %>
  <%= form.hidden_field :recipe_id, value: recipe.id %>
  <%= form.label :select_option, 'Select Option:' %>
  <%= form.select :select_option, options_for_select(inventory_names) %>
  <%= form.submit 'Generate', class: 'btn rounded-lg font-semibold py-3 px-5 bg-emerald-500 btn-primary' %>
<% end %>
    </div>
    <div class="modal-footer bg-gray-100 p-4">
      <!-- Modal footer content goes here -->
      <button type="button" id="closeModalButton" class="btn rounded-lg font-semibold py-3 px-5 bg-rose-300 btn-primary">Close</button>
    </div>
  </div>
</div>


