<div class="mx-auto w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <h1 class="text-2xl">
    <%= @recipe.name %>
  </h1>

  <div class="flex">
    
    <div>
    <p class="my-5 flex">
    <strong class="block font-medium mb-1">Preparation time:</strong>
    <%= @recipe.preparation_time %>
    <% if @recipe.preparation_time > 0 %>
  hours
  <%else%>
  hour
<% end %>
  </p>

  <p class="my-5 flex">
    <strong class="block font-medium mb-1">Cooking time:</strong>
    <%= @recipe.cooking_time %>
    <% if @recipe.preparation_time > 0 %>
  hours
  <%else%>
  hour
<% end %>
  </p></div>
  <div>
    <% if @recipe.user == current_user %>
  <%= form_with(model: @recipe, class: "contents") do |f| %>
    <%= f.label :public %>
    <%= f.check_box :public, onchange: "this.form.submit();" %>
  <% end %>
<% end %>
  </div>
  </div>
</div>
