<div class="mx-auto w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <h1 class="text-2xl">
    <%= @recipe.name %>
  </h1>

  <div class="flex">
    
    <div>
    <p class="my-5 flex">
    <strong class="block font-medium mb-1">Preparation time:</strong>
    <%= @recipe.preparation_time %>
    <% if @recipe.preparation_time > 0 %>
  hours
  <%else%>
  hour
<% end %>
  </p>

    <%= render partial:'recipe_foods_in_recipe', locals:{recipe_foods:@recipe_foods}%>


    <%= link_to 'Edit this recipe', edit_recipe_path(@recipe), class: "mt-2 rounded-lg py-3 px-5 bg-orange-400 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Delete this recipe', recipe_path(@recipe), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-rose-400 font-medium" %>
    </div>
    <%= link_to 'Back to recipes', recipes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
